/// ------------------------------------
/// Function that enables to set font-size as well as font-family shortly.
/// ------------------------------------
///
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {Size | List} $font - It can be either the size `12` or
///     font-family like `primary` or `secondary`
///
/// @return {Size | Font} Hex value of the selected color or its font-size.
@function font( $f ) {
    // @debug type_of( $f );

    @if type_of($f) == string {

        @return unquote( map-get($fonts, $f) );

    } @else {
            $val: 0; @if unitless($f) {
            $val: $f + 0rem;
        } @else {
            $val : $f;
        }
        @return $val / 15;
    }

}

@function _f( $f ) {
    @return font( $f );
}


/// ------------------------------------
/// Function that enables setting colors on the elements.
/// ------------------------------------
///
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {String} $color - String related to the color that's being used.
/// @requires {List} $colors - List of predefined color themes.
///
/// @return {Color}
@function color( $c ) {

    @return map-get($colors, $c);

}

@function _c( $c ) {
    @return color( $c );
}


/// ------------------------------------
/// Function that enables setting animations on the elements.
/// ------------------------------------
///
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {String} $color - String related to the animation's property that's being used.
/// @requires {List} $colors - List of predefined properties.
///
/// @return {Color}
@function animation( $a ) {

    @return map-get($animation, $a);

}

@function _a( $a ) {
    @return animation( $a );
}


// ------------------------------------
// Function that allows usage of predefined queries while using `@media`.
// ------------------------------------
///
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {String} $media - String related to the breakpoint that's being used.
/// @requires {List} $breaks - List of predefined breakpoints.
///
/// @return {Media Query}
@function query( $media ) {

    @return map-get($breaks, $media);

}

@function _q( $q ) {
    @return query( $q );
}
