/// ------------------------------------
/// The simple mixin for covers.
/// ------------------------------------
@mixin cover() {
    display: inherit;
    object: {
        fit: cover;
        position: center;
    }
}

/// ------------------------------------
/// The simple mixin for fonts.
/// ------------------------------------
@mixin font( $s: 48, $w: normal ) {
    font: {
        size: _f($s);
        weight: $w;
    }
}


%abs {
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    transition: transform calc(var(--speed) * 2) 16ms var(--ease);
}

/// ------------------------------------
/// The simple mixin for handling line animation.
/// ------------------------------------
@mixin underline( $w: 1px, $r: true, $c: var(--h-color, #fff) ) {
    &::after {
        @extend %abs;

        border-bottom: $w solid $c;
    @if $r {
        transform: scale3d(0, 1, 1); 
        transform-origin: right;
    } @else {
        transform: scale3d(1, 1, 1);
        transform-origin: left;
    }}
    
    &:not(:hover)::after {
        transition-timing-function: ease-in;
    }

    &:hover::after {
    @if $r {
        transform: scale3d(1, 1, 1); 
        transform-origin: left;
    } @else {
        transform: scale3d(0, 1, 1); 
        transform-origin: right;
    }}
}

/// ------------------------------------
/// The simple mixin for handling styles.
/// ------------------------------------
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {String | List} $media... - Accepts arguments like `mobile`, `tablet`, `desktop` or the custom pairs like `768px, 1024px`
/// @requires {List} $breaks - List of predefined breakpoints strings
///
/// @example scss - Mobile viewport
///   @include media( mobile ) {}
@mixin styles( $path: 'logic', $style... ) {

    @if length($style) > 1 {
        @for $x from 1 through length($style) {
            $file: nth($style, $x);
            @import url('#{$assets}#{$path}/#{$file}');
        }
    }
}

/// ------------------------------------
/// The simple mixin for handling RWD styles.
/// ------------------------------------
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {String | List} $media... - Accepts arguments like `mobile`, `tablet`, `desktop` or the custom pairs like `768px, 1024px`
/// @requires {List} $breaks - List of predefined breakpoints strings
///
/// @example scss - Mobile viewport
///   @include media( mobile ) {
///       // Mobile styles
///   }
///
/// @example scss - Custom viewport
///   @include media( 768px, 1024px ) {
///       // Other styles
///   }
@mixin media( $media... ) {

    $args: length($media);
    $single: nth($media, 1);

    @if ( $args > 1 ){

        // @debug nth($media, 1);
        // @debug nth($media, 2);

        @media (min-width: #{nth($media, 1)}) and (max-width: #{nth($media, 2)}) {
            @content;
        }

    } @else {

        @if ( $args == 1 and map-has-key($breaks, $single) ){

            @media #{query($single)} {
        		@content;
        	}

        } @else if ( $args == 1 ) {

            @media #{(max-width: $media)} {
                @content;
            }

        }

    }

}

/// ------------------------------------
/// The simple mixin for positioning.
/// ------------------------------------
///
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {Null | List} $media... - Accepts up to 3 comma-separated arguments, `absolute|fixed|sticky [top] [left]`
///
/// @example scss - Defaults to absolute cover
///   @include position();
///
@mixin position( $pos... ) {

    $args: length($pos);

    // @debug $pos;

    @if $args >= 1 {
        position: nth($pos, 1);
        @if $args == 3 {
            top: nth($pos, 2);
            left: nth($pos, 3);
        }
    } @else {
        position: absolute;
        top: 0; left: 0;
        bottom: 0; right: 0
    }

}


/// ------------------------------------
/// The simple mixin that allows targeting Retina images.
/// ------------------------------------
///
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {String} $image - Image path
/// @param {String} $width - Image width
/// @param {String} $height [$width] - Image height
///
/// @example scss - Basic usage
///  .foo {
///      background-image: url('image.png');
///      @include retina('image2x.png', 100px, 50px)
///  }
@mixin retina($image, $width, $height: $width) {
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {

        background-image: url($image);
        background-size: $width $height;
    }
}


/// ------------------------------------
/// The simple mixin that enables hardware-acceleration.
/// ------------------------------------
///
/// @group Logic
/// @author Dawid Owsianka
///
/// @param {Mixed} $image [0] - Put whatever in order to inject transform as well.
///
@mixin raf( $t: 0 ) {
    @if $t or $t == 1 {
        $t: transform;
    }
    %back {
        backface-visibility: hidden;
        perspective: 1000px
    }
    @if ( $t != 0 ) {
        will-change: $t;
        transform: translateZ(0);
    }
    @extend %back;
}


/// ------------------------------------
/// Box-shadow for input elements
/// ------------------------------------
@mixin input-shadow( $height ) {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 $height var(--s-color, #fff) inset !important;
        -webkit-text-fill-color: var(--t-color, var(--c-brown-text));
    }
}
