/// @group Settings
$assets:            'scss/' !default;

/// @group Settings
$font:              'aktiv-grotesk', sans-serif !default;

/// @group Settings
$radius:            3px !default;

/// @group Settings
/// Variable determines global `max-width`.
$grid:              1400px !default;

/// @group Settings
/// Variable determines desktop `max-width`.
$desktop:            1279px !default;

/// @group Settings
/// Variable determines tablet `max-width`.
$tablet:            1023px !default;

/// @group Settings
/// Variable determines mobile `max-width`.
$mobile:            767px !default;

/// @group Settings
/// Variable determines the spacing between columns.
$gutter:            32px !default;

/// Variable determines default `opacity` level.
/// @group Layout
$fade:              .7 !default;

/// Variable determines default `height` of form inputs.
/// @group Layout
$field-height:      50px;


//  List consist of predefined font-families.
/// @group Settings
/// @prop {String} key - predefined name
/// @prop {String} value - font-family stack
$fonts: (
    primary:    "'#{$font}', Tahoma, sans-serif",
    secondary:  "'mencken-std', serif"
);


//  List consist of breakpoints that can used through the elements.
/// @group Settings
/// @prop {String} key - predefined name
/// @prop {Media} value - `@media` query
$breaks : (
    lg:          '(min-width: #{( $grid + $gutter*2 + 1 )})',
    lg-max:      '(max-width: #{( $grid + $gutter*2 )})',
    tablet:      '(min-width: #{( $tablet + 1 )})',
    tablet-max:  '(max-width: #{$tablet})',
    desktop:     '(min-width: #{( $desktop + 1 )})',
    desktop-max: '(max-width: #{$desktop})',
    md:          '(min-width: #{( $mobile + 1 )})',
    md-max:      '(max-width: #{$mobile})',
);