a.resource {
    user-select: none;

    &.-hidden {
        display: none !important
    }
}

.fuzion-nav__trigger-wrap {
    flex-basis: 100%;
  
    > .btn--cta {
        margin-left: auto;
    }
  
    @include media( desktop ) {
        order: 1;
        flex-basis: auto;
        height: 0;
  
        > .btn--cta {
            position: relative;
            bottom: ceil(-$gutter * 1.456)
        }
  
        .tabs-product__control {
            display: none;
        }
    }
}

@include media( desktop-max ) {
    .fuzion-nav__trigger-wrap {
        margin-top: $gutter;
    }
    .resources-filters {
        margin-top: -$gutter;
        
        &__head > .section-title,
        .fuzion-filters--static {
            display: none
        }
    }
}

.resource {
    padding: _f(25) 0;
    border-bottom: var(--border);
    align-items: baseline;

    &__head {
        flex-grow: 1;
    }
    &__info {
        color: var(--c-brown);
        flex-basis: 15%
    }

    @include media( md ) {
        svg:last-child {
            flex-basis: _f(20);
            width: _f(20);
            fill: none;
            opacity: 0;
            stroke: var(--c-black);        
            transform: translate3d(0, -.3rem, 0) rotate(90deg);
            transition: opacity var(--speed),
                        transform var(--speed) var(--ease);
        }
        &:hover svg {
            transform: translate3d(0, .3rem, 0) rotate(90deg);
            opacity: 1
        }
    }

    @include media( md-max ) {
        &[data-flex][data-flex] {
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        &__head { 
            flex-basis: 100%;
            margin-bottom: _f(15);
            order: -1 
        }

        &__info {
            flex-basis: auto;
        }
        &__info:not(:first-child)::before {
            content: '';
            display: inline-flex;
            position: relative;
            bottom: _f(-2);
            height: _f(14); 
            margin: 0 _f(10);
            border-left: 1px solid var(--c-brown);
        }
    }
}

.faq {
    margin-bottom: 4.8rem;
  
    @include media( md ) {
        margin-bottom: 3.8rem
    }
}

.contact-addresses {
    margin-bottom: 2rem;
}

.addresses  {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 855px;

    @include media ( md ) {
        grid-template-columns: 1fr 1fr;
    }

    @include media ( tablet ) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.addresses__box {
    max-width: 210px;
    margin-right: 5rem;
    margin-bottom: 3rem;

    @include media ( md ) {
        margin-bottom: 5rem;
    }
}

.visualize__box {
    height: 100%;
}

.section-visualize {
    display: flex;
    flex-direction: column-reverse;

    @include media( md ) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.visualize__copy {
    .fuzion-title {
        display: none;

        @include media( md ) {
            display: block;
        }
    }
}

.visualize__media {
    .fuzion-title {
        display: block;
        margin-bottom: 2.3rem;

        @include media( md ) {
            display: none;
            margin-bottom: 0;
        }
    }
}

.visualize__title {
    margin-bottom: 1.85rem;
}

.visualize__text {
    margin-bottom: 3.4rem;

    @include media( md ) {
        margin-bottom: 1.6rem;
    }
}

.lookbook {
    &__img {
        flex-basis: 20%;
    }
    
    &__copy {
        padding: 0 $gutter ($gutter * 3);
        margin: auto;

        [class*=title] {
            margin-bottom: $gutter * .5
        }

        header {
            width: auto;
        }

        img { 
            display: block;
            margin-top: $gutter 
        }
    }

    @include media( md ) {
        min-height: 80vh;

        &__copy {
            flex-basis: 60%;
            padding: 10% 15%;
        }
    }
}