@mixin collectionStack() {
    > :only-child {
        border: 0
    }
    &__heading {
        order: 1;
        padding-top: $gutter * .5;
        border-top: var(--border)
    }

    &__figure > :first-child {
        position: absolute;
        left: -999em
    }

    &__heading, img {
        width: 100%
    }
}

@mixin showGrid() {
    display: grid;
    grid-template-columns: repeat(var(--n, 3), minmax(0, 1fr));
    // gap: calc(var(--g-space) * .5) var(--g-space);
    column-gap: $gutter;

    &::before {
        content: '';
        display: block;
        grid-column: 1 / 4;
        margin-top: -1px;
        margin-bottom: -$gutter;
        border-top: var(--border);
    }

    .collection {
        > [data-flex]:only-child {
            flex-flow: column
        }
        &__heading {
            margin-top: $gutter * .5
        }
        &__figure { 
            width: 100%;
            margin: 0;

            img { 
                flex-basis: auto 
            }
        }
        @include collectionStack;
    }
}

.collection-filters {

    @include media( tablet-max ) {
        display: none;
    }

    background: #fff;
    text-align: right;
    margin-top: -1px;
    padding-bottom: $gutter * .25;
    
    button {
        $off: 5px;
        padding: $off;
        cursor: pointer;
        outline: none;
        --svg-fill: var(--c-beige);

        &.-active {
            --svg-fill: var(--c-black);
        }

        &[aria-label*=List] {
            
            .cls-1 { 
                stroke: var(--svg-fill);
            }
        }
        &[aria-label*=Grid] {
            margin-right: -$off;
            .cls-1 { 
                fill: var(--svg-fill);
                stroke-width: 0
            }
        }
    }

    svg {
        height: _f(10)
    }
}

.collection {

    &__figure {
        margin-bottom: $gutter;
    }

    @include media( tablet-max ) {
        @include collectionStack;        
    }

    @include media( md ) {
        [data-flex] > :nth-child(n) {
            align-self: flex-end;
            align-items: flex-end;
        }

        a:hover &__figure > :last-child {
            opacity: $fade
        }
    }
}

.collection-list[data-view=list] {
    
    @include media( 767px, 1023px ) {
        @include showGrid;
    }

    @include media( desktop ) {
        .section-title { font-size: _f(48) }

        .collection__heading {
            width: 30%;
        }

        .collection__figure {
            width: 70%;
            padding-left: 1.3rem;
        }
    }
}

.collection-list[data-view=grid] {

    .collection {
        margin-bottom: $gutter;
    }

    @include media( md ) {
        @include showGrid;
    }
}

.collection__figure {

    @include media( md ) {
        --g-width: calc(240px + 5vmax);

        flex-wrap: wrap;

        > :first-child {
            flex-basis: calc(94% - var(--g-width));
        }
        > :last-child {
            flex-basis: var(--g-width);
            transition: opacity var(--speed);
        }

        a:hover & > :last-child {
            opacity: $fade
        }
    }

    @include media( 768px, 1140px ) {
        --g-width: calc(200px + 2.5vmax);
    }
}