.contact-form__wrapper {
    position: relative;
}

.contact-form__img {
    display: none;

    @include media( tablet ) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(50% + 120px);
        height: 100%;
        overflow: hidden;
    }
}

.contact-form__box {
    @include media( tablet ) {
        margin-left: 4.5rem;
        padding: 4.3rem 0;
    }
}

.contact__retailer {
    padding-bottom: 1.33rem;
    border-bottom: var(--border);
}

.contact__subtitle {
    margin-bottom: 2rem;
}