.journal__blog {
  picture {
    display: block;
    padding-bottom: calc(3 / 5 * 100%);
    position: relative;
  }

  img {
    position: absolute;
    height: 100%;
  }

  .tabs__header {
    .section-title {
      display: none;
  
      @include media (md) {
        display: block;
      }
    }
  }
}

.journal__list {
  display: none;

  &.journal__list--active {
    display: list-item;
  }
}

.journal__head {
  border-top: var(--border);
  margin-top: 24px;
  padding: 16px 0 24px;
  display: flex;
  flex-direction: column;
}

.journal__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}