.fuzion-pathway {
    position: absolute;
    min-width: calc(100vw - 20px);
    right: 0; bottom: 20px;

    @include media( md ) {
        min-width: calc(260px + 10vmax);
        bottom: 0
    }
}

.fuzion-pathway__cta {
    align-items: flex-end;
    min-height: 20vh;
    padding: calc(10px + 1vmax);
    background: #fff;//rgba(#fff, .2);
    color: var(--c-black);
    position: relative;

    span {
        position: inherit;
        z-index: 1
    }

    &::before {
        content: '';
        position: absolute;
        background: var(--bg, var(--c-brown));
        transition: opacity 200ms;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        opacity: .6;
    }

    &:first-of-type::before {
        opacity: .15
    }

    &:hover:before {
        opacity: .7
    }
    &:first-of-type:hover::before {
        opacity: .25
    }
}

.fuzion-pathway-section {
    position: relative;
    z-index: 1;
    margin-top: -64px;

    picture {
        display: flex;
        height: 80vh;
        width: calc(100% - 130px - 5vmax);
    }

    img {
        @include cover;
    }

    .fuzion-pathway {
        flex-wrap: wrap
    }

    .fuzion-pathway__cta {
        flex-basis: 50%;

        a { 
            z-index: 2;
            align-items: flex-end;
            width: 100%;
            height: 100% 
        }

        &.-large {
            flex-grow: 1;
            flex-basis: 100%;
        }
    }
}

@include media( md-max ) {
    .fuzion-pathway-section {
        margin-top: $gutter;

        picture {
            display: none;
        }
    }

    .fuzion-pathway-section .fuzion-pathway {
        position: static;
        max-width: calc(100% - #{$gutter});
        margin: 0 0 $gutter auto;
    }

    .fuzion-pathway-section .fuzion-pathway__cta {
        flex-basis: 100%;
        flex-grow: 1
    }
}