.projects-list {
  position: relative;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16rem;

  &.projects--loogbook {
    padding-bottom: 8rem;
  }
}

.projects__details {
  border-top: var(--border);
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 4.3rem;

  @include media( md ) {
    margin-bottom: 9.3rem;
  }
}

.projects__details--no-border {
  border: 0;
}

.projects__info {
  margin-bottom: 0.6rem;

  &--absolute {
    border-top: 1px solid var(--c-white);
    padding-top: 0.8rem;
    margin: 0 1rem 1.5rem;
  }
}

.projects__media {
  position: relative;
}

.projects__box {
  width: 100%;

  @include media( md ) {
    width: 50%;
  }
}

.projects__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.projects__img {
  object-fit: cover;
  width: 100%;
  display: block;
}

.projects__btn {
  position: absolute;
  bottom: 11rem;
  left: 50%;
  transform: translateX(-50%);

  @include media( md ) {
    bottom: 7rem;
  }
}

.projects__box--1,
.projects__box--4 {
  .projects__img {
    height: 230px;

    @include media( md ) {
      height: 440px;
    }
  }
}

.projects__box--1,
.projects__box--2 {
  .projects__details {
    margin-bottom: 4.3rem;
  
    @include media( md ) {
      margin-bottom: -6.5rem;
    }
  }
}

.projects__box--2,
.projects__box--3 {
  .project__content {
    width: 100%;

    @include media( md ) {
      width: 80%;

    }
  }

  .projects__img {
    height: 470px;

    @include media( md ) {
      height: 660px;
    }
  }
}

.projects__box--2 {
  .project__content {
    margin-left: auto;
  }
}

.projects__box--4 {
  display: flex;
  align-items: flex-end;
}