.project-banner__copy {
  width: 100%;
  margin-bottom: 3rem;

  @include media( tablet ) {
    width: 40%;
    margin-bottom: 0;
    order: 0;
  }

  .project-banner__link {
    margin-bottom: 3rem;
    border-bottom: var(--border);
    display: none;

    @include media( tablet ) {
      margin-bottom: 0;
      display: inline-block;
    }
  }
}

.project-banner__media {
  position: relative;
  margin: 0 calc(var(--g-space) * -1) 4rem;
  order: -1;

  @include media( tablet ) {
    order: 2;
    width: 60%;
    margin: 0;
  }
}

.project-banner__img {
  display: block;
  width: 100%;
  height: 520px;
  object-fit: cover;

  @include media( tablet ) {
    width: 90%;
  }

  @include media( desktop ) {
    min-height: 75vh;
  }
}

.project-banner_box {

  @include media( tablet ) {
    max-width: 50%;
  }
}

.project-banner__title {
  margin-bottom: 1.85rem;
}

.project-banner__info {
  position: relative;
  padding: 5.4rem 0 3.6rem 4.7rem;
  background-color: var(--c-black);
  width: initial;
  margin-left: $gutter;
  margin-top: -1.6rem;

  @include media( tablet ) {
    position: absolute;
    margin-left: 0;
    bottom: 0;
    width: calc(40% + var(--g-space));
    left: 60%;
  }
}

.project-banner__box {
  margin-bottom: 1.8rem;
  width: 80%;
}