.quote {
    padding: {
        top: calc(120px + 5vmax);
        bottom: calc(120px + 5vmax);
    }
    color: var(--color, var(--c-brown));
    background: var(--bg, transparent);
    transition: background-color 1s ease, color 1s ease;

    &--dark {
        --color: var(--c-beige);
        --bg: var(--c-black);


        em, a {
            color: #fff;
            transition: color 1s ease;
        }
        .quote__text::before { 
            border-bottom-color: rgba(#fff, .2) 
        }
    }

    @include media( md-max ) {
        padding: {
            top: $gutter * 3;
            bottom: $gutter * 3;
        }
    }

    &__footer {
        margin-top: 60px;
    }

    .vcard {

        .org {
            font-size: 85%;
            opacity: $fade
        }
    }
}

.quote__text {
    font-size: _f(48);
    display: flow-root;

    &::before {
        content: attr(data-pre);
        float: left;
        font-size: _f(22);
        padding: _f(48 - 22 - 4) _f(40) _f(4) 0;
        margin-right: 1.25rem;
        white-space: nowrap;
        border-bottom: 1px solid rgba(#000, .2)
    }

    @include media( md-max ) {
        font-size: _f(24);

        &::before {
            display: block;
            float: none;
            font-size: _f(18);
            padding: 0 0 _f(8);
            margin: {
                right: 0;
                bottom: _f(32);
            }
        }
    }
}