.retailer {

    #wpsl-wrap {

        #wpsl-stores {
            height: 490px !important;

            @include media( md ) {
                height: 450px !important;
            }

            ul {
                padding-left: 1rem;

                @include media( md ) {
                    padding-left: 2rem;
                }
            }

            li {
                padding: 2rem 4rem 0.3rem 0;
                border-bottom: var(--border);
            }
        }
    }

    .wpsl-intro {
        @include media( md ) {
            padding-left: 10px;
        }
    }

    #wpsl-gmap {
        order: 0;
        width: 100%;
        height: 400px !important;

        @include media( md ) {
            float: left;
            width: 57%;
            height: 700px !important;
        }
    }

    .wpsl-search {
        order: 2;
        width: 100%;
        margin-bottom: 0;
        background-color: var(--c-white);

        @include media( md ) {
            float: left;
            width: 43%;
        }
    }
 
    #wpsl-result-list {
        order: 3;
        width: 100%;

        @include media( md ) {
            width: 42%;
            float: left;
        }
    }

    .wpsl-store-location {
        margin-bottom: 0;

        strong {
            margin-bottom: 1.5rem;
            display: inline-block;
        }
    }

    .wpsl-direction-wrap {
        display: flex;
        font-weight: 600;
        display: none;
    }
    
    .wpsl-directions {
        margin-left: 3rem;
        display: none;
    }

    // Form
    #wpsl-search-wrap {
        display: flex;
        flex-direction: column;

        form {
            display: flex;
            flex-wrap: wrap;
        }

        #wpsl-search-input {
            padding: 11px 12px;

            &:focus {
                border-radius: 0;
            }
        }
        

        #wpsl-search-input,
        .wpsl-dropdown {
            border: 1px solid var(--c-black);
            border-radius: 0;
            width: 100% !important;
        }

        #wpsl-search-btn {
            border-radius: 0;
            border: 0;
            background-image: var(--c-black);
            background-color: var(--c-black);
            color: var(--c-white);
            padding: 11px 12px;
        }

        label {
            line-height: 21px;
            width: 100%;
            display: none;

            @include media( md ) {
                line-height: 32px;
                width: auto;
            }
        }

        .wpsl-input {
            width: 100%;

            @include media( md ) {
                width: auto;
            }
        }

        #wpsl-radius {
            width: 100%;

            @include media( md ) {
                width: auto;
                padding-left: 10px;
            }
        }

        #wpsl-results {
            display: none !important;
        }

        .wpsl-select-wrap {
            display: flex;
            justify-content: space-between;
        }

        #wpsl-radius,
        #wpsl-results,
        .wpsl-input {
            @include media( md ) {
                display: flex;
                align-items: center;
            }
        }

        .wpsl-search-btn-wrap {
            display: flex;
            align-items: flex-end;
            margin-bottom: 10px;

            @include media( md ) {
                padding-left: 10px;
            }
        }
    }
}