// Search Popup
.fuzion-search {
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 0; top: 0;
  padding-top: var(--h-header);
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content: center;
  transition: var(--t-visibility);
  z-index: 11;

  @include media( tablet ) {
    width: calc(50% + 100px);
  }

  &.-visible {
    visibility: visible;
    opacity: 1;
  }
}

// Search results
.search-page__title {
  text-align: center;
  margin-bottom: 5rem;
  border-bottom: var(--border);
}

.search__header {
  margin-bottom: 1rem;
  align-items: baseline;
  justify-content: space-between;
}

.search__category {
  white-space: nowrap;
}

.search__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search__image  {
  padding-bottom: calc(3 / 5 * 100%);
  position: relative;

  picture {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  img,
  svg {
    display: block;
  }
}

.search__image--svg {
  picture {
    background-color: var(--c-black);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    max-width: calc(240px + 2vmax);
    padding: 0 1rem;
    width: 100%;
    fill: var(--c-white);
  }
}
