// #####################
// Banner
// #####################
.single-banner {
  padding-top: 9rem;
  margin-bottom: 5rem;
  position: relative;

  @include media( md ) {
    padding-top: 11rem;
  }
}

.single-banner__bg {
  position: absolute;
  background-color: var(--c-beige);
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
}

.single-banner__content {
  text-align: center;
  position: relative;

  .fuzion-title {
    position: relative;
    z-index: 2;
    margin-top: 1.2rem;
    bottom: 0.5rem;
    font-family: _f(secondary);
    font-style: italic;

    @include media( md ) {
      bottom: -1.5rem;
      margin-top: 0;

    }
  }
}

// #####################
// Content
// #####################
.single-image {
  margin-bottom: 4rem;

  @include media( md ) {
    margin-bottom: 5rem;
  }
}

.single-text {
  margin-bottom: 5rem;

  @include media( md ) {
    margin-bottom: 11rem;
  }
}

.blog-content {
  position: relative;
  flex-direction: column;
  margin-bottom: 4rem;

  @include media( md ) {
    flex-direction: row;
    margin-bottom: 8rem;
  }
}

.blog_date {
  position: absolute;
  bottom: calc(100% + 0.6rem);

  @include media( md ) {
    bottom: calc(100% + 0.4rem);

  }
}

.blog-content__title {
  width: 100%;
  margin-bottom: 1.4rem;

  @include media( md ) {
    width: 30%;
    padding-right: 3rem;
  }
}

.blog-content__copy {
  width: 100%;

  @include media( md ) {
    width: 70%;
  }
}

.blog-content__copy--right {
  margin-left: auto;
}

// #####################
// Footer - Social Media / Next Post
// #####################
.single-navigation__wrapper {
  --height: 150px;

  height: auto;
  position: relative;
  margin-bottom: 5rem;

  @include media( md ) {
    height: 200px;
    margin-bottom: 7rem;
  }

  .single-share__title {
    font-size: _f(14);
    color: var(--c-beige);
    margin-right: 0.8rem;
  }
  
  .single-navigation {
    height: 100%;
    flex-direction: column-reverse;
  
    @include media( md ) {
      flex-direction: row;
    }
  }
  
  .social-icons--wrapper {
    --size: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  
    svg {        
        width: calc(var(--size) * .60);
  
        * { 
            fill: var(--c-beige);
        }
    }
  }
  
  .single-navigation--bg {
    position: absolute;
    width: calc(100% - 17px);
    height: var(--height);
    right: 0;
    top: 0;
    background-color: var(--c-beige);
  
    @include media( md ) {
      width: 50%;
      height: 100%;
    }
  }
  
  .next-post {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-left: auto;
    height: var(--height);
    position: relative;
    z-index: 2;
    margin-bottom: 2.4rem;
    padding: 1rem;
  
    @include media( md ) {
      width: 50%;
      height: auto;
      margin-bottom: 0;
    }
  }
}

.single-navigation {
  .instagram-btn {
    display: none;
  }

  .linkedin-btn {
    a {
      background-color: var(--c-beige);
      border-radius: 4px;
  
      * {
        fill: var(--c-white) !important;
  
      }
    }
  }

  .linkedin-btn {
    a {
      svg {
        width: calc(var(--size) * .30);
      }
    }
  }

  .social-icons--share {
    display: flex;
    align-items: flex-end;

    .social-icons {
      --size: 40px;
      --spacing: 25px;

      a {
        width: var(--spacing);
        height: var(--spacing);

        svg * {
          transition: opacity var(--speed) ease-in;
        }

        &:hover {
          border-color: unset;

          svg * {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
