.virtual-tour {
  position: relative;
  margin-bottom: 0;
  margin-top: var(--h-header);
}

.virtual-tour__img {
  height: 760px;
  width: 100%;
  display: block;
}

.virtoul-tour__text {
  font-family: _f(secondary);
  @include font( 48 );
  object-fit: cover;
  font-style: italic;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}