// ------------------------------------
//  Body
// ------------------------------------

:root {
    box-sizing: border-box;
    line-height: 1.3; 
    font: {
        family: $font;
        weight: 400;
        size: 14px;
    }

    -webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    --g-space: 24px;
    --h-header: 64px;

    @include media( md ) {
        --g-space: 92px;
        --h-header: 122px;
        --side: 31.25%;
    }
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    --c-black        : #231F20;
    --c-brown        : #8C827A;
    --c-brown-text   : #7A6E66;
    --c-beige        : #CFBDAF;
    --c-white        : #FFFFFF;
    --c-error        : #ff0000;
    --border         : 1px solid var(--c-black);
    --ease           : cubic-bezier(0.33, 1, 0.68, 1);
    --speed          : .22s;
    --speed-plus     : .6s;
    --t-height       : height calc(var(--speed) * 2) var(--ease);
    --t-visibility   : visibility var(--speed), opacity calc(var(--speed) * 2) var(--ease), background-color var(--speed);
}

img, svg {
    backface-visibility: hidden;
    max-width: 100%;
    height: auto;
}

// Typo

a {
    color: currentColor;
    text-decoration: none;
    transition: color var(--speed) ease;
}

p {
    line-height: (22 / 15);
}

.fuzion-title {
    @include font( 22 );
}

.section-title {
    @include font( 18 );
}

.section-caption {
    opacity: ($fade - .2);

    @include font( 12 );
    @include media( md ) {
        text-align: left;
    }
}

@include media( md ) {
    :root {
        font-size: 15px
    }
    
    .fuzion-title {
        font-size: _f(42)
    }

    .section-title {
        font-size: _f(22)
    }

    .section-caption {
        font-size: _f(14)
    }
}

.text-brown {
    color: var(--c-brown-text);
}

.text-white {
    color: var(--c-white);
}

.font-normal {
    font-weight: 400;
}

// Globals

.fuzion-header,
.fuzion-footer {
    padding: 0 var(--g-space);
}

.fuzion-title,
.quote__text {

    em {
        font: {
            family: _f(secondary);
            style: italic;
        }
    }
}

.fuzion-menu a,
.section-caption {
    text-transform: uppercase;
}

[data-grid$=head] {
    margin-top: calc(var(--h-header));
}

[data-grid$=top],
.woocommerce-page .hentry {
    margin-top: calc(var(--h-header) + .5 * var(--g-space));
}

[data-grid$=top],
.woocommerce-page .hentry,
.related-products {
    margin-bottom: calc(var(--g-space))
}

// Overrides

.search-page .search-list {
    border-top: 0;
    padding-top: 0;
}

.journal__blog .journals {
    margin-top: 0;
    border-top: 0;
}

.products,
.search-list,
.journals {
    @extend [data-grid];

    list-style: none;
    display: grid;
    border-top: var(--border);
    --n: 1;grid-template-columns: repeat(var(--n), minmax(0, 1fr));
    gap: $gutter * 2 $gutter * 2;
    margin: $gutter auto var(--g-space);
    padding-top: $gutter * 2;

    // &.columns-3 {}
    // &.columns-4 {}

    @include media( md ) {
        --n: 3;
    }
}

#noproducts:not(.d-none) ~ .fuzion-products,
.storefront-breadcrumb, .d-none {
    display: none !important;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale3d(1.1, 1.1, 1);
        opacity: 0
    }
    to {
        transform: scale3d(1, 1, 1);
        opacity: .789;
    }
}

// Screen readers
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}
  
.sr-only-focusable:active, .sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Warnings
.limit-message {
    color: var(--c-error);
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--c-error);
    display: inline-block;
    transform: translateX(-200%);
    transition: transform var(--speed-plus) linear;

    @include media( md ) {
        font-size: 1.2rem;
    }

    &.show {
        transform: translateX(0%);
    }
}