// ------------------------------------
//  Footer
// ------------------------------------

.fuzion-footer {
    --h-color: #{darken(#fff, 15%)};
    --s-bottom: 124px;

    background: var(--c-black);
    color: var(--c-brown);
    padding: {
        top: var(--g-space);
        bottom: calc(var(--g-space) * .333);
    }
    
    .social-icons {
        --color: var(--c-brown);

        a:hover {
            svg * {
                fill: var(--h-color)
            }
        }
    }

    &__cta, .fuzion-menu a {

        &:hover {
            color: var(--h-color)
        }
    }

    form,
    form + nav {
        margin-bottom: var(--s-bottom);
    }

    &, .form {
        position: relative;
    }

    @include media( md-max ) {
        --s-bottom: 60px;

        .fuzion-menu[class*=pages] {
            display: none
        }

        &__row--copy[data-flex] {
            flex-direction: column-reverse;
            margin-bottom: var(--g-space);
        }
        &__row--info {
            padding-top: var(--g-space)
        }

        &__cta, 
        &__row--copy > :nth-child(n) {
            margin-top: 8px
        }

        &__cta {
            br { display: none }
        }

        &__col--links {
            position: relative;

            @include media( md ) {
                margin: {
                    top: -220px;
                    bottom: 120px;
                }
            }
        }
        .social-icons {
            margin: {
                top: 20px;
                bottom: 0;
                right: auto;
            }

            @include media( md ) {
                margin-top: 100px;
            }
        }
    }

    @include media( md ) {
        &__row > :nth-child(n),
        &__col--signup,
        &__col--links {
            flex-basis: 50%;
        }

        &__col--nav:last-child { 
            flex-basis: auto;
            margin-left: auto
        }

        &__cta {
            align-self: flex-start;
            padding: 2rem 2rem 1rem;
        }

        &__cta, button {
            font-size: _f(22)
        }

        .social-icons {
            margin-left: auto
        }
    }
}

    .fuzion-menu {
        &--footer,
        &--pages {
            li + li { margin-left: 10px }
        }
    }

    .fuzion-footer {
        &__col--info,
        &__col--nav {
            font-size: _f(12)
        }
    }

    .fuzion-footer__row {
        display: flex;
    }

.fuzion-footer__col--links {
    justify-content: flex-end;
}

.fuzion-footer__info > div {
    z-index: 1;
    padding: 0 var(--g-space) var(--g-space);
    top: 0; left: 0;
    bottom: 0; right: 0;
    color: var(--c-beige);

    &, &::after {
        position: absolute;
        top: 0; left: 0;
        bottom: 0; right: 0;
    }

    &::after {
        content: '';
        z-index: -1;
        opacity: .9;
        background: var(--c-black);
    }

    a { display: none }

    &:not([style*=display]) {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeIn ease var(--speed);
    }
}
