// ------------------------------------
//  Grid
// ------------------------------------

[data-grid] {
    width: calc(100vw - var(--g-space) * 2);
	margin: {
		left: auto;
		right: auto;
    }
    @include media( md ) {
        &[data-grid=wider] {
            width: calc(90vw);
        }
        &[data-grid=wide] {
            width: calc(75vw);
        }
        &[data-grid=middle] {
            width: calc(50vw);
        }
    }
}

// ------------------------------------
//  Flex
// ------------------------------------

[data-flex] {
    display: flex;

    > :nth-child(n) {
        min-width: 0
    }

    &[data-flex^="row"] {
        flex-flow: column;

        @include media( md ) {
            flex-flow: row wrap;

            &[data-flex~="reverse"] {
                flex-flow: row-reverse wrap
            }
            &[data-flex~="half"] {
                > :nth-child(n) {
                    flex-basis: 50%;
                }
            }
        }

        &[data-flex~="keep"] {
            flex-flow: row
        }
    }

    &[data-flex^="col"] {
        flex-flow: column
    }
    &[data-flex^=col][data-flex~="reverse"] {
        flex-flow: column-reverse
    }

    &[data-flex^=row][data-flex~="center"] {
        align-items: center
    }
    &[data-flex^=col][data-flex~="center"] {
        justify-content: center
    }

    &[data-flex~="justify"] {
        justify-content: space-between
    }

    &[data-flex~="end"] {
        align-items: flex-end
    }
}