.fuzion-langs:first-child {
    $h: 30px;
    flex-basis: auto;
    position: relative;
    text-align: center;
    min-width: _f(20) * 5;
    padding: 0 _f(18);
    margin-top: calc(var(--space) * -1);
    color: #fff;

    &, li {
        background: var(--c-brown);
    }

    .list {
        height: 0px;
        text-align: center;
        position: absolute;
        overflow: hidden;
        z-index: 2;
        left: 0; top: 100%;
        width: 100%;
        transition: var(--t-height);

        li {
            position: relative;

            span {
                position: relative;
                z-index: 3;
            }
    
            &::before {
                content: '';
                @include position;
                z-index: 1;
                background: var(--c-beige)
            }
    
            &:nth-child(1)::before {
                opacity: .45
            }
            &:nth-child(2)::before {
                opacity: .85
            }
        }
    }

    li {
        font-size: _f(10);
        text-transform: uppercase;
        position: relative;
        line-height: $h;
    }

    @include media( md-max ) {
        .fuzion-header & {
            display: none !important
        }
        .fuzion-nav & {
            position: absolute;
            left: 0; top: 0; right: 0;

            .-current {
                display: none
            }

            ul {
                height: auto;
                flex-flow: row wrap
            }

            li { 
                margin-bottom: 0;
                flex-grow: 1;
            }

            a { display: block }
        }
    }

    @include media( md ) {
        .fuzion-nav & {
            display: none !important
        }
    }
}

// ------------------------------------
//  Header
// ------------------------------------

.fuzion-header {
    --color: var(--c-brown);
    --space: 45px;
    --logo-w: 152px;

    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 12;
    top: 0; left: 0; right: 0;

    &::after {
        content: '';
        backface-visibility: hidden;
        position: absolute;
        z-index: -1;
        left: 0; right: 0; top: 0;
        height: 100%;
        background: #fff;
        transform: translate3d(0, 0%, 0);
        transition: transform calc(var(--speed) * 2) var(--ease);
    }

    &--white, &--mix {
        
        &:not(.-sticky) {
            --svg-fill: #fff;
            --svg-acc: #fff;
            &::after {
                transform: translate3d(0, -101%, 0);
            }
            & + .fuzion-search {
                background-color: var(--c-beige);

                .form {
                    --s-color: var(--c-beige);
                    --t-color: var(--c-brown-text);
                }
            }
        }
    }

    @include media( md ) {
    &--mix .header-icons {
        --svg-fill: var(--c-brown);
        --svg-acc: var(--c-brown);
        #cart-items {
            color: #fff;
        }
    }}

    &.-sticky, &:not(&--white):not(&--mix) {
        .fuzion-menu .cls-1 { 
            stroke: var(--c-brown) 
        }
        #cart-items {
            color: #fff;
            background-color: var(--c-brown)
        }
    }

    .fuzion-langs {
        align-self: flex-end;
        margin-bottom: 20px;
    }

    .logo-bg, .logo-fg {
        transition: fill var(--speed)
    }

    .header-icons .cls-1,
    .fuzion-menu .cls-1 {
        transition: stroke var(--speed)
    }

    @include media( md-max ) {
        --logo-w: 80px;
        --space: 20px;

        &__col:first-child {
            display: none;
        }
    }

}

.fuzion-header__col  {
    margin: {
        top: var(--space);
        bottom: var(--space);
    }
}

.fuzion-header__col--relative {
    position: relative;
    z-index: 2;
}

    .header-nav .fuzion-menu--main {
        position: relative;
        z-index: 44;

        li + li {
            margin-left: 20px;
        }
    }

    .header-nav + .fuzion-header__col {
        display: flex;
    }

    .header-logo {
        display: inline-flex;
        max-height: 28px; /* 1. Safari */

        &, svg {
            width: var(--logo-w); 
        }

        @include media( md ) {
            position: absolute;
            left: calc(50% - var(--logo-w) * .5);
        }
        
        .logo-bg {
            fill: var(--svg-fill, var(--c--black));
        }
        .logo-fg {
            fill: var(--svg-acc, var(--c-brown));
        }
    }

    .header-icons {
        align-items: center;
        margin-top: _f(-8);

        @include media( md ) {
            margin-left: auto;
        }

        li {
            padding: 0
        }
        button {
            padding: _f(8)
        }

        li:nth-child(2) > button {
            svg { width: _f(14) }
        }
        li:nth-child(3) > button {
            svg { width: _f(17) }
        }
        li:last-child > button {
            margin-left: _f(8);
            margin-right: _f(-8);
            svg { width: _f(28) }
        }

        .cls-1 {
            stroke: var(--svg-fill, var(--color));
        }
    }