.fuzion-overlay {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba(#231F20, $fade);
    opacity: 1;
    z-index: 11;
    transition: opacity calc(var(--speed) * 1.5);

    &:not(.-visible) {
        pointer-events: none;
        opacity: 0;
    }
}

.add_to_cart_button {
    & + a {
        opacity: 0;
        transition: opacity var(--speed)
    }
    &.added { 
        display: none 
    }
    &.added + a {
        opacity: 1;
        &::after {
            content: none
        }
    }
}

[aria-label=Cart] {
    align-items: center;

    &:hover span {
        opacity: $fade
    }
}

#cart-items {
    --s: 20px;
    width: var(--s);
    height: var(--s);
    border-radius: calc(var(--s) * 2);
    background-color: var(--svg-fill);
    color: var(--c-brown);
    margin-right: 8px;
    font-size: _f(10);
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    transition: background-color var(--speed),
                opacity var(--speed);
}

// ------------------------------------
//  Menu
// ------------------------------------

.fuzion-menu {

    &--footer,
    &--pages {
        li + li { margin-left: 10px }
    }
    
    a {
        color: var(--svg-fill, var(--color));

        .cls-1 { fill: var(--svg-fill, var(--color)) }
    }
}

.fuzion-menu--main {

    a {
        text-transform: unset;
        font-size: _f(14);
    }
    svg {
        position: relative;
        left: 7px; top: 1px;
        width: 8px; height: 1rem;
    }
}

.fuzion-nav .fuzion-submenu {
    @include raf(height);

    list-style: none;
    position: absolute;
    overflow: hidden;
    top: 100%; left: 0;
    height: 0px;
    transition: var(--speed)
}

.fuzion-nav__close {
    align-self: flex-end;
    margin-bottom: 80px;
}

.fuzion-nav__cta {
    margin-right: auto;

    a:hover {
        color: var(--c-brown)
    }

    li + li::before {
        content: '';
        width: 1px;
        background: #fff;
        display: inline-table;
        vertical-align: middle;
        height: calc(100% + 4px);
        margin: 0 10px;
    }
}

.fuzion-nav {
    $off: 33.333vw;
    --bg: var(--c-beige);

    position: fixed;
    top: 0; left: $off;
    width: 100 - $off;
    bottom: 0;
    z-index: 66;
    padding: 80px 40px 90px;
    background: var(--bg);
    color: #fff;

    &.-ready {
        transition: 
            opacity var(--speed), 
            transform calc(var(--speed) * 2) var(--ease);
    }

    &:not(.-visible) {
        transform: translate3d(100%, 0, 0);
        pointer-events: none;
    }

    a {
        transition: color var(--speed)
    }

    .social-icons a {
        margin: {
            top: 10px;
            bottom: 10px;
        }
        transition: border-color var(--speed);
    }

    .list li { margin-bottom: .222rem }

    .fuzion-menu {
        flex-direction: column;

        a {
            text-transform: unset;
        }
    }

    .fuzion-menu--pages[class] {
        margin: 40px 0 0;

        li + li {
            margin-left: 0
        }
    }

    .fuzion-menu--overlay[class] { 
            
        > li { height: _f(64) }

        a { font-size: _f(48) }
        
        > li > a {

            span {
                pointer-events: none
            }
        }
        .-visible > a, a:hover {
            color: var(--c-brown)
        }
    }

    .fuzion-nav__pages + footer {
        margin-top: auto;
    }

    .fuzion-nav__pages {
        margin-bottom: auto;

        .fuzion-submenu {
            left: auto;
            height: auto;
            top: 100px; 
            right: 0;
            min-width: 100%;
            min-height: 100%;
            background: var(--bg, rgba(0,0,0,0));
            pointer-events: none;
            transform: translate3d(101%, 0, 0);
            transition: opacity var(--speed), 
                        transform calc(var(--speed) * 2) var(--ease);
        }

        .-visible .fuzion-submenu {
            transform: translate3d(0%, 0, 0);
            pointer-events: all;
            opacity: 1;
            z-index: 10;
        }

        &.-vscroll {
            overflow-y: scroll;
        }
    }

    .btn--back {
        backface-visibility: hidden;
        position: absolute;
        outline: none;
        left: 40px; top: 74px;
        transition: transform calc(var(--speed) * 2) var(--ease);
        z-index: 1;

        &.-hidden { 
            transform: scale3d(0, 0, 1)
        }
    }

    @include media( md-max ) {
        left: 50px;
        width: calc(100vw - 50px);

        .fuzion-menu--overlay[class] {

            li { height: _f(40) }

            a { font-size: _f(24) }

            .fuzion-submenu {
                padding: 80px 40px
            }
            > li > a {
                transition-delay: calc(var(--speed) * .7)
            }
        }
        
        .fuzion-nav__cta {
            flex-direction: column;
            
            li + li::before {
                content: none
            }
        }
        .social-icons {
            display: none;
        }
    }

    @include media( md ) {
        padding: 110px 90px 90px;

        &__close {
            align-self: flex-start
        }

        .fuzion-nav__pages {
            position: relative;

            .fuzion-submenu {
                height: auto;
                top: 0; 
                opacity: 0;
                min-width: 220px;
                min-height: 200px;
                transform: none;
    
                a {
                    font-size: _f(14)
                }
            }
        }

    }
}