// ------------------------------------
//  Section
// ------------------------------------

.section-white {
    --space: calc(30px + 5vmax);

    color: #fff;

    @include media( md ) {
        .site-links-wrap {
            position: absolute;
            right: 0; 
            bottom: 0; 
            top: 0;
            width: var(--side);
        }
        .site-links {
            margin-top: auto;
        }
    }
}

.section-cta {
    width: 100%;
    min-height: calc(100vh - var(--g-space) * 2);
    align-items: flex-end;
    color: #fff;

    .section__text {
        padding: var(--g-space);
    }
}

.section-image {
    background: var(--bg, #fff);
    padding: {
        top: var(--g-space);
        bottom: var(--g-space);
    }

    .section__image {
        max-height: 320px;
        margin-bottom: $gutter;
    }

    @include media( md-max ) {
        .section__image {
            min-height: 0; 
            max-height: none;
            img {
                min-height: 0;
                height: auto
            }}
    } 

    @include media( md ) {
        $s: 5vmax;
        .section__text {
            align-self: flex-end;
            padding-right: $s;
            flex-basis: percentage( 5 / 10 )
        }
        .section__image {
            max-height: calc(100vh - var(--g-space) * 2);
            flex-basis: percentage( 4 / 10 );
            margin-bottom: 0;
        }
    }
}

.section-image--border {
    border-top: var(--border);
}

    .section__image {
        display: flex;
        overflow: hidden;
        position: relative;

        img {
            min-width: 100%;
            min-height: calc(80vh);
            
            @include cover;
        }
    }

    .section__text {

        &.section__text--auto {
            margin-bottom: 4rem;
        
            @include media( md ) {
                align-self: auto;
                margin-bottom: 0;
            }
        }
    }
