svg {
    // width: _f(16);
    
    .cls-1 {
        fill: transparent;
        stroke-width: 1px; //0.75px;
    }
}

// Utilities

.space-t {

    &, &--xs {
        margin-top: $gutter / 2;
    }
    
    &--lg {
        margin-top: $gutter;
    }
    &--xl {
        margin-top: $gutter * 2;
    }
}

.space-b {

    &, &--xs {
        margin-bottom: $gutter / 2;
    }
    
    &--lg {
        margin-bottom: $gutter;
    }
    &--xl {
        margin-bottom: $gutter * 2;
    }
}

@include media( md ) {
    .space {
        &-t {
            margin-top: $gutter;
        }
        &-t--lg {
            margin-bottom: $gutter * 2;
        }
        &-t--xl {
            margin-top: $gutter * 4;
        }
        &-b {
            margin-bottom: $gutter;
        }
        &-b--lg {
            margin-bottom: $gutter * 2;
        }
        &-b--xl {
            margin-bottom: $gutter * 4;
        }
    }
}

.list {
    list-style-type: none;
    display: flex;
    
    &, &--none, &--block {
        list-style-type: none;
    }

    &--block {
        flex-direction: column;
    }
}

// Components

.hover-link {

    &--color,
    &--fade {
        transition: opacity var(--speed)
    }
    &:hover &--color {
        opacity: .5
    }
    &:hover &--fade {
        opacity: .25
    }
}

.hgroup {
    padding-bottom: _f(10);
    margin-bottom: _f(10);
    border-bottom: var(--border);

    &--top {
        padding-top: _f(40);
        border-top: var(--border);
    }

    &--space {
        padding-bottom: _f(16);
        margin-bottom: _f(32);
    }
}

.molding-icons {

    li + li {
        margin-left: $gutter;
    }

    img { 
        width: auto;
        height: 60px;
        margin-bottom: $gutter * .5 
    }
}

.social-icons {
    --size: 28px;
    --color: #fff;

    a {
        color: var(--color);
        width: var(--size);
        height: var(--size);
        display: flex;
        border: 1px solid;
        border-radius: 50%;

        &:hover {
            border-color: rgba(#fff, .5)
        }
    }

    li + li {
        margin-left: 10px;
    }

    svg {
        width: calc(var(--size) * .45);
        height: calc(var(--size) * .45);
        margin: auto;
        
        * { 
            fill: var(--color);
            stroke: transparent;
            transition: fill var(--speed);
        }
    }
}