.accordion__row {
  border-bottom: var(--border);
  flex-direction: column;
  
  @include media( md ) {
    flex-direction: row;
    padding: 3rem 0 4.8rem;

    &.accordion__row--careers {
      padding: 5rem 0 1.6rem;
      align-items: flex-end;
    }
  }
}

.accordion__row:last-child {
  border-bottom: var(--border);
  
  @include media( md ) {
    border-bottom: 0;

    &.accordion__row--careers {
      border-bottom: var(--border);
    }
  }
}

.accordion__question {
  padding: 2rem 0;
  
  @include media( md ) {
    padding: 0;
    margin-bottom: 1.33rem;
    width: 34%;
    padding-right: 3.5rem;

    .accordion__row--careers & {
      margin-bottom: 0;
    }
  }
  
  &.active + .accordion__answer {
    margin-bottom: 1.4rem;
  }
  
  h2 {
    cursor: pointer;

    @include media( md ) {
      cursor: auto;
    }
  }

  button {
    margin-left: 10px;
  }
}

.accordion__answer {
  height: 0px;
  overflow: hidden;
  transition: var(--t-height);

  @include media( md ) {
    height: auto;
    display: block;
    width: 66%;
  }

  .accordion__row--careers & {
    display: flex;
    flex-wrap: wrap;
  
    @include media( md ) {
      flex-wrap: nowrap;
    }
  }
}

.accordion__careers-descritpion {
  width: 100%;
  margin-bottom: 1.6rem;

  @include media( md ) {
    width: 75%;
    margin-bottom: 0;
    padding-right: 2rem;
  }
}

.accordion__careers--link {
  width: 100%;
  display: flex;

  @include media( md ) {
    width: 25%;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.site-link__accordion {
  margin-top: 3rem;
  margin-bottom: 6rem;

  .accordion__question {
    padding: 1.3rem 0 1rem;
  }

  .plus {
    --size: #{(_f(10))};
  }
}