
.associations {
  margin-top: 5rem;
  margin-bottom: 6rem;

  @include media( md ) {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
}

.associations__title {
  margin-bottom: 1.2rem;

  @include media( md ) {
    margin-bottom: 2.8rem;
  }
}

.associations__row {
  border-bottom: var(--border);
  padding: 1rem 0 0.9rem;
}