.btn--clean,
.btn--icon {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.btn--icon {
    cursor: pointer;
    outline: none;

    svg {
        pointer-events: none;
        width: 1rem
    }
}

.btn--cart {
    --s: 28px;

    svg {
        width: var(--s);
        margin-right: $gutter / 3;
    }
}

.btn--cta {
    --s: #{_f(38)}; @include media( md-max ) {
    --s: #{_f(28)}}

    svg {
        overflow: hidden;
        width: var(--s);
        height: var(--s);

        g {
            transition: transform calc(var(--speed) * 3) 16ms cubic-bezier(0.68, -0.6, 0.32, 1.6)
        }
        circle {
            transition: opacity var(--speed)
        }
    }

    .arrow {
        backface-visibility: hidden;
        &:first-of-type {
            transform: translate3d(-100%, 0, 0)    
        }
    }

    &:hover {

        .arrow {
            &:first-of-type {
                transform: translate3d(0%, 0, 0)
            }
            &:last-of-type {
                transform: translate3d(100%, 0, 0)
            }
        }
        circle {
            opacity: .5
        }
    }

    &:not([data-flex*=justify]) svg {
        margin-left: 16px
    }

    .cls-1 {
        fill: none;
        stroke: var(--color-bg, rgba(#000, .25));
        stroke-miterlimit: 10;
    }
    .cls-2 {
        fill: none;
        stroke: var(--color-fg, rgba(#000, .75));
    }

    &.btn--white-space {
        white-space: nowrap;
        font-weight: bold;
        font-size: _f(16);
    
        svg {
            margin-left: 2rem;
        }
    }
}

.btn--cta.btn--down {
    
    svg {
        transform: rotate(90deg);
    }
}

.btn--cta.btn--back {
    --color-bg: rgba(255,255,255, .7);
    --color-fg: #fff;

    svg {
        margin: 0;
        pointer-events: none;
        transform: rotate(-180deg);
    }

    @include media( md ) {
        display: none
    }
}

.btn--form {
    display: flex;
    align-items: center;
}

.btn--link {
    display: inline-block;
    transition: opacity var(--speed);

    @include media( md ) {
        padding-bottom: _f(16);
        border-bottom: var(--border);
    }

    &:hover,
    &:active {
        opacity: $fade
    }  
}

.btn--inactive {
    pointer-events: none;
    cursor: default;
    transform: opacity var(--speed) ease-in-out;
    opacity: ($fade - .2);;

    &.btn--submit {
        cursor: pointer;
        display: flex;
        align-items: center;
    
        svg {
            margin-left: 2rem;
        } 
    }
}

.btn--small {
    @include font( 12 );
}
