.chapter {
    border-top: var(--border);
    border-bottom: var(--border);
    padding-top: $gutter;

    @include media( md ) {
        padding-top: $gutter;
    }
}

.chapter__careers {
    border-bottom: var(--border);
    padding-bottom: 1rem;
}

.chapter__heading,
.chapter__all {
    margin-bottom: $gutter;
  @include media( md ) {
    margin-bottom: 3rem;
  }
}

.chapter__all {
    
    @include media( md ) {
        margin-bottom: _f(52);
    }
}

.chapter--cols {
    margin-top: -1px;

    @include media( md ) {
        --g-left: calc(220px + 5vmax);

        dt {
            min-width: calc(var(--g-left) * 0.7);
        }

        > :first-child {
            min-width: var(--g-left);
        }
        > :last-child {
            margin-left: auto;
            width: calc(94% - var(--g-left))
        }
    }

    @include media( 768px, 1140px ) {
        --g-left: calc(180px + 2.5vmax);
    }
}
