.fuzion-dropdown {
    backface-visibility: hidden;
    color: var(--svg-fill, #fff);
    background: var(--c-black);
    position: fixed;
    top: 0; left: 0; right: 0;

    &__wrap {
        padding: var(--g-space);
        transition: opacity calc(var(--speed) * 1.5);

        &[hidden] {
            opacity: 0
        }
        &:not([hidden]) {
            transition-delay: calc(var(--speed) * 3);
            opacity: 1
        }
    }

    &.-ready {
        z-index: 22;
        transition: var(--t-height);
    }

    &:not(.-visible) {
        height: 0px;
        overflow: hidden;
    }

    p {
        color: var(--c-beige)
    }

    .fuzion-submenu {
        counter-reset: cat;
        
        li {
            counter-increment: cat;
            padding: _f(4) 0;

            a {
                font-size: _f(24);
                position: relative;

                @include underline( 1px );
            }
            
            a::before {
                content: '0' counter(cat);
                position: absolute;
                pointer-events: none;
                left: _f(-16); top: _f(-2);
                font-size: 44%;
                opacity: $fade;
                color: var(--c-beige);
            }
        }
    }
}

.fuzion-collection {
    --h: 220px;
    position: relative;
    min-height: calc(var(--h) + 20px);

    a {
        backface-visibility: hidden;
        transition: 
            opacity var(--speed),
            transform var(--speed) ease-out;
        position: absolute;
        overflow: hidden;
        transform-origin: left;

        picture {
            margin-top: 10px;
            max-height: var(--h);
        }

        img {
            @include cover;
        }

        &[hidden] {
            display: block;
            opacity: 0;
            transform: scale3d(.5, .5, 1);
            pointer-events: none;
        }
        &:not([hidden]) {
            opacity: 1;
            transform: scale3d(1, 1, 1)
        }
    }
}

.fuzion-dropdown__text {
    p[hidden] {
        opacity: 0;
    }
}

.fuzion-dropdown__text p:not([hidden]),
.fuzion-dropdown__wrap:not([hidden]) {
    animation: fadeIn ease var(--speed);
}

.fuzion-dropdown__body {

    > :nth-child(n) {
        flex-basis: 33.333%
    }

    > :first-child {
        flex-basis: 40%;
        padding-right: var(--g-space)
    }
    > :last-child {
        padding-left: var(--g-space)
    }
}