// Contact Form 7 
.wpcf7-not-valid-tip {
    @include font( 12 );
    margin-top: -1rem;
}

legend, .legend {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: _f(14);
}

textarea {
    background: transparent;
}

input, button {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

input[type=search] {
    -webkit-appearance: textfield;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}

input[type=number] {
    padding: 0 0 0 ($gutter / 2);
    line-height: ceil($field-height / 1.5 );
    text-align: center;
    max-width: 80px;
}

.input, input[type=number] {
    border: var(--border);
}

.input, .submit {
    padding: 0 ($gutter / 2);
    line-height: $field-height;

    &:focus {
        outline: 0;
    }
}

.submit {
    display: inline-block;
    background: var(--c-black);
    color: #fff;
    cursor: pointer;
    transition: opacity var(--speed);
    text-align: center;
    width: 150px;

    &:disabled, &.-disabled {
        cursor: not-allowed;
        opacity: $fade;
    }
}

.input--plain, 
.input--textarea {
    font-family: $font;
    border: 0;
    color: var(--c-brown-text);
    width: 100%;

    &:focus,
    &:active {
        outline: 0;
        border-bottom: 1px solid var(--c-brown-text);
    }
}

.input--textarea {
    min-height: 100px;
    padding: 0.5rem;
    border: var(--border);
}

.input--plain {
    padding: 0.5rem 0;
    border-bottom: var(--border);
    margin-bottom: _f(28);
}

.contact-form {

    @include media( tablet ) {
        margin-left: calc(50% + 120px);
    }

    label {
        display: none;
    }

    textarea {
        margin-bottom: 4.33rem;
    }
}

.fuzion-footer .form,
.search-form .form {

    @include underline( 2px );
    @include input-shadow( 32px );

    input {
        width: 100%;
        font-size: _f(24);
        line-height: _f(24) * 2;
        color: var(--h-color, #fff);
        border-bottom: 2px solid var(--b-color, var(--c-brown));

        &::placeholder {
            color: var(--c-brown-text)
        }
        &:focus {
            outline: none;
            border-color: var(--h-color, #fff)
        }
    }

    button {
        cursor: pointer;
        color: var(--c-brown);
        position: absolute;
        bottom: 10px; right: 0;
    }

    @include media( md ) {
        button {
            font-size: _f(22);
        }
        input {
            font-size: _f(48);
            line-height: _f(48) * 1.3;
        }
    }
}

.search-form {
    padding: 0 var(--g-space) var(--g-space);
    width: 100%;

    .form {
        --h-color: var(--c-black);
        --b-color: var(--c-brown-text);

        width: 100%;
        position: relative;
        display: flex;
    }
  
    @include media ( md ) {
      padding: 3rem 6rem 6rem 4rem;
      .form::after {
        --speed: 420ms
      }
    }
}