.fusion-filter__heading {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.fusion-filter--menu {
  flex-direction: column;

  .radio-circle {
    display: none;
  }

  .radio-btn__name {
    @include font( 18 );
    margin-bottom: 0.222rem;
    padding-left: 0;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid var(--c-white);
  }
}

.fuzion-nav,
.woof_redraw_zone {

  .plus {
    --size: #{(_f(9))};
    position: absolute;
    right: _f(12);
    top: 50%;
    transform: translateY(-50%);
  }
}

.fuzion-nav {

  .woof_container_inner > :first-child,
  .fuzion-options__drop > :first-child {
    position: relative;
    padding: 0.7rem 0 0.9rem;
    @include font( 18 );
    border-top: 1px solid var(--c-white);
  }

  .fuzion-options__drop {
    padding: 0;
  }
  .fuzion-options__list {
    padding: 1.33rem 0.6rem
  }

  .plus {
    &:before, 
    &:after {
      border-bottom-color: var(--c-white);
    }
  }
}