.plus {
  --size: #{(_f(16))};
  position: relative;
  display: inline-block;
  background: none;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border: none;

  &.plus--mobile {
    @include media( md ) {
      display: none;
    }
  }

  &:focus {
    outline: none;
  }
      
  &:before, 
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size);
    transform: translateZ(0);
    border-bottom: var(--border);
    transition: border-color calc(var(--speed) * .5), 
                transform var(--speed-plus) cubic-bezier(.46,-.41,.3,1.52);
  }

  .active & {
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
  }
   
  &:before {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
  }

  &:after {
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
  }
}
