.radio-btn {
  --radio-w : 15px;

  padding-right: 1.6rem;
  margin-bottom: 0.8rem;
  cursor: pointer;

  @include media( md ) {
    padding-right: 0;
    padding-left: 2rem;
    margin-bottom: 0;
  }

  input {
    display: none;
  }

  .radio-btn__name {
    padding-left: 0.5rem;
    margin-top: 2px;
  }

  .radio-circle {
    position: relative;
    display: inline-block;
    width: var(--radio-w);
    height: var(--radio-w);
    border-radius: calc(var(--radio-w) * .5);
    border: 1px solid var(--c-brown-text);
  }

  .radio-full {
    --t: translate3d(calc(-50% - .5px), calc(-50% - .5px), 0);
    position: absolute;
    left: 50%;
    top: 50%;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: var(--c-brown-text);
    transform: var(--t) scale3d(0, 0, 1);
    transition: transform var(--speed) var(--ease);
    transform-origin: center;
  }
  
  input:checked ~ .radio-circle .radio-full,
  &.open .radio-full {
    transform: var(--t) scale3d(1, 1, 1)
  }
}

.radio-btn[class*=left] {
  padding-left: 0;

  .radio-circle {
    margin-right: .5rem;
  }
}