.site-links {
    --border: 1px solid var(--c-brown);

    position: relative;
    margin-top: auto;

    li {
        border-top: var(--border);
    }

    a {
        font-size: _f(18);
        padding: _f(12) 0;
        &:hover {
            color: rgba(#000, $fade - .2)
        }
        &.-active {
            cursor: default;
            color: rgba(#000, $fade - .2)
        }
    }

    &__item {
        display: flex;
    }

    &__item--draw {
        align-items: center;
        cursor: pointer;

        .plus {
            --size: #{(_f(10))};
        }
    }
}

.site-links__drop {
    position: relative;
    overflow: hidden;
    height: 0px;
    transition: var(--t-height);

    p {
        font-size: _f(12);

        &:first-child {
            margin-top: _f(12)
        }
        & + p {
            margin-top: _f(5);
        }
    }

    a {
        font-size: _f(12);
    }
}

.site-links-wrap {
    background: #fff;
    color: var(--c-black);
    padding: 0 var(--g-space);

    @include media( md-max ) {
        margin: var(--g-space) 0
    }
}

.site-links--aside {
    padding-bottom: $gutter / 3;

    li {
        min-height: _f(28);

        a {
            padding: _f(18) 0;
        }
        &:last-child {
            border-bottom: var(--border)
        }
    }

    @include media( md-max ) {
        padding-top: $gutter;

        li {
            padding: _f(10) 0;
            margin-bottom: _f(10);
            border-top: 0;
            border-bottom: var(--border);

            &.section-caption {
                position: absolute;
                left: -999em
            }
        }
    }

    @include media( md ) {
        max-width: 18vw;
        
        li:not([class*=caption]) {
            font-size: _f(22);
            padding-bottom: 0.1rem;
        }
    }
}