// ------------------------------------
//  Slider
// ------------------------------------

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide-wrap {
    overflow: hidden;
    
    .slide {
        position: relative;
        justify-content: flex-end;
        padding: var(--h-header) var(--space) calc(var(--space) * 1.5);
    }
}

.slider--full {
    &, .slide {
        height: 100vh;
    }

    .tns-nav {
        position: absolute;
        bottom: 30px;
        left: var(--space);
    }

    .slide__link {
        position: absolute;
        z-index: 20;
        left: 50%;
        transform: translateX(-50%);
        bottom: 80px;
    }

    @include media( md ) {
        --space: calc(30px + 5vmax);

        .slide__text {
            margin-left: calc(var(--g-space) * 2);
            max-width: _f(250)
        }
        &.slider--aside .tns-outer,
        &.slider--aside .slide {
            max-width: calc(100vw - var(--side));
        }

        .slide__link {
            bottom: 33px;
        }
    }

    @include media( md-max ) {
        --space: var(--g-space);
        text-align: center;

        .tns-nav { 
            left: 10%;
            right: 10%;
        }

        .slide-nav {
            visibility: hidden;
        }

        .slide__text {
            margin: {
                top: -$gutter * .5;
                bottom: $gutter * 3;
            }
        }

        &.slider--aside {
            height: auto;
            min-height: 100vh;
        }
    }

    .slide-content {
        position: relative;
        z-index: 20;
    }
}

.slider--double,
.slider--gallery {
    img { 
        height: 100%;
        @include cover;
    }
}

.slider--gallery {
    --height: calc(420px + 16vmax);

    text-align: center;
    position: relative;

    .fuzion-title {
        position: relative;
        z-index: 2;
        bottom: 0.5rem;
        font-family: _f(secondary);
        font-style: italic;

        @include media( md ) {
            bottom: -1.5rem;
        }
    }

    .tns-nav {
        --b-color: var(--c-brown);

        position: absolute;
        left: 10%; right: 10%;
    }

    .slide {
        align-items: center;
        margin-left: 0;
        min-height: var(--height);

        picture { 
            height: 100%;
            width: 90%;

            @include media( md ) {
                width: auto;
            }
        }

        img {
            margin: 0 auto
        }
    }
}

.slider--gallery-projects {
    margin-left: calc(var(--g-space) * -1);
    width: calc(100% + calc(var(--g-space) * 2));
}

.journal__carousel {
    background-color: var(--c-beige);
    padding: 6rem 0 2rem;
    
    @include media (md) {
      padding: 10rem 0 5rem;
    }

    .slide__media {
        min-height: auto;
    }

    .fuzion-title {
        color: var(--c-white);
    }

    .slide__container {
        position: relative;
        height: 100%;
    }

    .slide__info--absolute {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            position: absolute;
            bottom: 30px;
        }
    }

    picture {
        display: block;
        margin: 0 auto;
    }

    .slide-nav--gallery {
        top: 50%;
    }

    .tns-nav {
        position: unset;
        margin-top: 2rem;
    }

    .st0 {
        stroke: var(--c-white);
    }  

    .slider--gallery {
        .slide {
            min-height: auto
        }
    }

    .slide__info {
        margin-top: 0;
    }
}


.slider--double {
    --bottom: calc(40px + 5vmax);

    &.site-link__accordion {
        display: none;

        @include media (md) {
            display: block;
        }
    }

    .slide {
        min-height: calc(420px + 16vmax);
        margin: var(--bottom) 0;

        &__text, &__cover {
            @include raf;
            transition: transform calc(var(--speed) * 2.789) var(--ease)
        }
        &__text {
            margin-left: 0;
        }
    }

    &__text {
        padding: var(--g-space);
    }

    [data-slider] > :nth-child(n) {
        min-width: 100%
    }

    [data-slider="slideText"] {
        position: relative;
        overflow: hidden;
    }

    @include media( md-max ) {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        
        &::after {
            content: '';
            display: inline-flex;
            width: var(--g-space);
        }

        .slider--double__text,
        .site-links { 
            display: none 
        }

        .slide {
            min-height: 0;
            width: calc(100% - 2 * var(--g-space));
            margin: var(--g-space) 0 0 var(--g-space);

            &__cover {
                background: none !important;
                flex-direction: column;
                min-height: 70vh;
                position: relative;
            }

            &__cover img {
                width: 100%;
                height: 100%;
                margin: 0
            }
        }

        .mobile-only {
            position: absolute;
            z-index: 20;
            left: var(--g-space); 
            bottom: var(--g-space);
            color: #fff;
        }
    }

    @include media( md ) {
        .mobile-only {
            display: none 
        }

        .slide > :first-child {
            overflow: hidden;
            padding: 0 15% 0 var(--g-space);
            flex-basis: 45%;
        }

        .slide > :last-child {
            overflow: hidden;
            flex-basis: 50%;
            margin-right: 5%;
        }

        [data-slider="slideImage"] {
            padding-bottom: 5%
        }
    }

}

// ------------------------------------
//  Slider Elements
// ------------------------------------

    .slide__cover {
        $off: 10%;

        img {
            align-self: flex-end;
            margin: auto auto (-$off * .5);
            width: ( 100 - $off * 2 );
            height: ( 100% - $off * .5 );
        }

        .slide__cover__link {
            position: absolute;
            z-index: 11;
            width: 100%;
            height: 100%;

            @include media( md ) {
                display: none;
            }
        }

    }

    .slide__info {
        margin-top: 80px;

        a {
            opacity: $fade
        }

        p + p {
            margin-bottom: 1rem;
        }
    }

    .slide__media {
        position: relative;
    }

    .slide__info--absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

@include media( md ) {
    .slide__text {
        position: relative;

        &::after {
            content: attr(data-x);
            position: absolute; top: 0;
            left: calc(var(--g-space) * -2);
        }
    }
}

.slide-nav {
    position: absolute;
    align-items: center;
    right: var(--space);
    bottom: 33px;

    button + button {
        margin-left: 32px;
    }

    &::before {
        content: '';
        display: inline-flex;
        position: absolute;
        left: 50%; top: 40%;
        transform: translateY(-50%);
        height: 26px;
        border-left: 1px solid rgba(#fff, .3)
    }

    svg {
        fill: none;
        width: 14px;
        height: auto;
    }
}

.slide-nav--gallery {
    top: calc(50% - 50px);
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 90%;
    height: 0;
    display: flex;
    justify-content: space-between;

    &:focus {
        outline: 0;
    }

    &::before {
        display: none;
    }

    svg {
        width: 53px;
    }
}

.slide-nav__btn {

    &--next {
        svg {
            transform: rotate(180deg);
        }
    }

    cursor: pointer;
    transition: 
        transform var(--speed) var(--ease),
        opacity var(--speed);

    &:focus {
        outline: none;
    }

    &:hover,
    &:active {
        opacity: $fade
    }

    &--prev:hover {
        transform: translate3d(-.123vmax, 0, 0)
    }
    
    &--next:hover {
        transform: translate3d(.123vmax, 0, 0)
    }
}

.tns-outer,
.single-product__banner {

    [data-action="start"],
    [data-action="stop"] {
        display: none
    }

    .tns-nav {
        --s: 8px;

        button {
            border-radius: 50%;
            box-shadow: none;
            padding: calc(var(--s) * 1.5);
            cursor: pointer;
            position: relative;
        
            &:focus {
                outline: none;
            }
        
            &::before, &::after {
                content: '';
                backface-visibility: hidden;
                position: absolute;
                top: 50%; left: 50%;
                pointer-events: none;
                border-radius: inherit;
                transform: translate(-50%, -50%);
                transition: calc(var(--speed) * 1.5) var(--ease)
            }
        
            &::after {
                background: var(--b-color, white);
                width: var(--s);
                height: var(--s);
            }
        
            &::before {
                width: calc(var(--s) * 1.5);
                height: calc(var(--s) * 1.5);
                transform: translate(-50%, -50%) scale3d(.5, .5, 1);
                border: 1px solid var(--b-color, white);
            }
        
            &:not([class*=active]) {
                &::before {
                    transform: translate(-50%, -50%) scale3d(1, 1, 1)
                }
                &::after {
                    transform: translate(-50%, -50%) scale3d(0, 0, 1)
                }
            }
        }
    }

    .tns-visually-hidden {
        position: absolute;
        overflow: hidden;
        max-width: 0;
        height: 0;
    }
}

// ------------------------------------
//  Single Product
// ------------------------------------
.single-product__banner {
    text-align: center;

    .product__img--main__wrapper {
        @include media( md ) {
            outline: 0;
        }
    }

    .tns-nav {
        margin-top: 3rem;

        button {  
            &::after {
                background: var(--c-black);
            }
        
            &::before {
                border: 1px solid var(--c-black);
            }
        }
    }
}

// Overlay
.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &.slide-overlay--mobile {
        @include media( md ) {
            display: none;
        }
    }
}