.tabs__header {
  border-bottom: var(--border);
  padding-bottom: 1rem;
}

.tabs_ul {
  display: flex;
  flex-wrap: wrap;

  @include media( md ) {
    margin: 0;
  }
}

.tabs-filter__control {
  display: inline-block;

  @include media( md ) {
    display: none;
  }
}

.tabs__wrapper {
  margin-bottom: 8rem;
  margin-top: 1rem;

  @include media( md ) {
    margin-top: 5rem;
  }
}

.tab__content {
  display: none;
}

.tab__content__wrapper {
  &.site-link__accordion {
    display: block;

    @include media (md) {
        display: none;
    }
  }

  &.site-remove__accordion {
      display: none;
  }
}

.tab__content.open {
  display: block;
}

.tabs__filter {
  margin-top: 3rem;

  @include media( md ) {
    margin: 0;
  }
}