.wysiwyg hr {
    background: var(--c-beige);
}

.wysiwyg blockquote {
    border-left: 4px solid var(--c-beige);
}

.wysiwyg {
    code, kbd, samp, pre {
        background-color: var(--c-beige);
        color: var(--c-brown-text);
    }
}

.wysiwyg {
    th, td {
        border: 1px solid var(--c-beige);
    }
}

.wysiwyg {
    thead tr, tfoot tr {
        background-color: var(--c-brown-text);

    }
}

.wysiwyg {
    thead th code,
    thead td code,
    tfoot th code,
    tfoot td code {
        background-color:var(--c-white);
    }
}

.wysiwyg tbody tr {
    background-color:var(--c-white)
}

.wysiwyg {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
}
