/* cart */ .coupon {
    @extend [data-flex];

    .input {
        margin-bottom: 0;
        padding: 0 5px;

        @include media( md ) {
            padding: 0 16px;
        }
    }

    .input + .submit {
        white-space: nowrap;
    }

    .submit {
        width: auto;

        @include media( md ) {
            width: 150px;
        }
    }
}

.woocommerce-cart {
    .woocommerce-shipping-destination,
    .woocommerce-shipping-calculator {
        display: none
    }
}

.cart-empty + .return-to-shop {
    display: none
}

.cart_totals .btn--cta, #place_order {
    --color-bg: #{rgba(#fff, .25)};
    --color-fg: #{rgba(#fff, .75)};

    &:hover {
        color: var(--c-white)
    }

    color: var(--color-fg);
    background: var(--c-black);
    padding: $gutter;
    margin: {
        left: -$gutter;
        right: -$gutter;
        bottom: -$gutter;
    }
}

.woocommerce-cart-form__contents {

    img {
        max-width: _f(80)
    }

    th {
        @extend .section-caption;

        font-size: _f(13);
        padding-bottom: 20px
    }

    td, th {
        padding: ($gutter / 3);
        border-bottom: var(--border)
    }

    .actions {
        border: {
            top: 0;
            bottom: 0;
        }
        padding: 0;

        .submit--update, .coupon {
            margin-top: $gutter
        }
    }

    .product{
        &-name, &-quantity,
        &-subtotal, &-price {
            opacity: $fade;
        }
    }

    .product-remove { 
        padding-left: 0 
    }

    .product-name {
        width: 45%
    }

    .product-price,
    .product-quantity,
    .product-subtotal {
        width: 10%
    }

    .product-name,
    .product-quantity {
        padding-left: $gutter;
    }

    .product-name,
    .product-price,
    .product-quantity,
    .product-subtotal {
        text-align: left
    }

    .quantity {
        label { 
            opacity: 0;
            max-width: 0;
            overflow: hidden;
            position: absolute;
        }
    }

    @include media( md-max ) {

        .product-remove,
        .product-price,
        .product-quantity,
        .product-subtotal,
        .product-name {
            width: 100%;
            display: block;
            clear: both;
        }

        .product-thumbnail,
        .product-price,
        thead { display: none }

        th[class] { padding-top: _f(24) }
        td[class] { text-align: center }

        .product {
            &-name, 
            &-price,
            &-quantity { padding-left: 0 }
            &-remove { border-bottom: none }
        }

        .actions {
            .submit--update, .coupon {
                width: 100%
            }
            .submit--update {
                margin-top: _f(16)
            }
            .coupon {
                order: 1;
    
                .input { flex-grow: 1 }
            }
        }
    }
}