.woocommerce-checkout {

    .coupon .input {
        flex-grow: .5;
    }
    
    a.showcoupon {
        position: relative;
        --h-color: var(--c-beige);
    
        @include underline( 1px, false );
    }

    i.card-icon {
        $s: _f(18);
        width: $s;
        height: ($s - _f(5));
        // vertical-align: middle;
        margin-right: _f(15);
        display: inline-flex;
        border: var(--border);
        border-top-width: 3px;
    }

    .wc-stripe-save-source,
    [for=payment_method_stripe_cc] {
        display: none
    }

    #wc-stripe-card-element {
        @extend .input--plain;
        @extend .btn--clean;
    }

    .woocommerce-inner--additional {

        > :first-child {
            display: none
        }
        [for="order_comments"] {
            @extend .text-brown;

            display: block;
            text-transform: capitalize;
            margin: _f(36) 0 _f(8)
        }
    }

    .woocommerce-inner__form--billing {

        @include media( md ) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .form-row {
                flex-basis: calc(50% - #{_f(15)});
            }
        }
    } 

    .woocommerce-inner--coupon {

        &.hgroup--top {
            padding-top: _f(20);
        }

        @include media( md ) {
            max-width: 55%;

            &.hgroup--top {
                margin-top: _f(-20);
            }
        }
    }

    #place_order {
        @extend .btn--cta;
        
        margin-top: $gutter;
        width: calc(100% + #{2 * $gutter});
    }

    #customerType {
        position: relative;
        width: 100%;
        font-size: _f(15);
        padding-left: 0;
        padding-right: 1.6rem;
        line-height: 2.1333333333rem;
        color: #444;
        appearance: none;
    }

    #customerType_field {
        .woocommerce-input-wrapper {
            position: relative;

            &::after {
                content: "";
                width: 0; 
                height: 0;
                border-color: #888 transparent transparent transparent;
                border-style: solid;
                border-width: 5px 4px 0 4px;
                position: absolute;
                top: 3px;
                right: 1px;
            }
        }
    }
}