.fuzion-filters--dropdowns {
    display: flex;
    flex-wrap: wrap;
    
    > .woocommerce-result-count {
        width: 100%;

        + * {
            padding-top: _f(20);
            border-bottom: var(--border)
        }
    }

    .woof_sid_auto_shortcode,
    .woof_products_top_panel {
        flex-basis: calc(100% - 215px);
        position: relative;
    }

    .woof_redraw_zone {
        display: none !important;

        &.hide-filters {
            display: none !important;
        }
    }

    .woof_reset_search_form,
    .woof_edit_view {
        // 
        display: none !important;
    }

    @include media( desktop ) {
        .woof_redraw_zone,
        .woof_products_top_panel {
            display: flex !important;
        }
        .woof_products_top_panel {
            order: 2
        }
        .products {
            order: 3
        }
    }
    
    .woof_sid_auto_shortcode {
        border: 0;
        padding: 0;
        margin: {
            top: -10px;
            left: -10px;
            bottom: 0;
        }
        z-index: 1;
    }

    .woof_products_top_panel {
        margin: {
            top: _f(-6);
            bottom: -$gutter * .75;
        }
        z-index: 0;

        a {
            --s: 8px;
            font-size: _f(12);
            position: relative;
            
            &::before , &::after{
                content: '';
                position: absolute;
                left: 0; top: calc(var(--s) * 1);
                width: var(--s);
                border-bottom: 1px solid var(--c-brown);
            }
            &::before {
                transform: rotate(-45deg)
            }
            &::after {
                transform: rotate(45deg)
            }
        }

        .woof_remove_ppi {
            background: none;
            padding-right: 0;
            padding-left: _f(14);
        }
    }

    .woof_sid_auto_shortcode 
    .woof_container,
    .fuzion-options {
        float: none;
        width: auto;
        min-width: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .woof_container_inner,
    .fuzion-options__drop {
        position: relative;
        padding: 0;
        margin-left: _f(-9);

        > :first-child {
            cursor: pointer;
            padding: _f(10) _f(30) 
                     _f(10) _f(18);
            height: 40px;
            font-weight: 400;
            display: flex;
            position: relative;
            transition: color calc(var(--speed) * .5);
            z-index: 1;
            
            &::after {
                // Dark background
                content: '';
                backface-visibility: hidden;
                background: var(--c-brown);
                transform: scale3d(1, 0, 1);
                transition: transform var(--speed);
                transform-origin: bottom;
                z-index: -1;
                @include position;
            }

            i { 
                --size: .5rem;
                position: relative;
                margin-left: 6px;
                top: 6px;
            }

            &.active {
                color: #fff;

                .plus {
                    --border: 1px solid #fff
                }

                &:after {
                    transform: scale3d(1, 1, 1)
                }
            }
        }
    }

    .woof_container_inner > :first-child.active::after,
    .fuzion-options__drop > :first-child.active::after,
    .woof_block_html_items {
        background: var(--c-brown);
        color: #fff;
    }

    .woof_block_html_items {
        backface-visibility: hidden;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        height: 0px;
        min-width: 240px;
        transition: var(--t-height)
    }
}

    .fuzion-options__drop,
    .woof_list_checkbox {
        padding: 1.33rem 0.6rem;

        li {
            padding: 4px 0;
            margin-left: 0;
            position: relative;
            overflow: hidden;

            > input:first-child {
                position: absolute;
                width: 100%; height: 100%;
                top: 0; left: 0; bottom: 0;
                opacity: 0;
            }

            input:checked + .woof_checkbox_label::before,
            input:checked + .fuzion-options__label::before {
                border-color: #fff;
                background-color: #fff;
            }
        }
    }

    .fuzion-options__label,
    .woof_checkbox_label {
        $s: 10px;

        position: relative;
        padding-left: 18px;

        &::before {
            content: '';
            width: $s;
            height: $s;
            position: absolute;
            left: 0px; top: 9px;
            border: 1px solid rgba(#fff, .2);
            transition: border-color var(--speed), 
                        background-color var(--speed)
        }
    }

.fuzion-filters--static {
    .woof_redraw_zone {
        margin-left: auto
    }
    .fuzion-options__drop 
    { > :first-child {
        white-space: nowrap
    }}
    .fuzion-options__list li { 
        cursor: pointer 
    }
    .fuzion-options__list {
        padding: 0 0 1rem 1.4rem; 
        li { padding: 0; display: flex }
        label { line-height: _f(27) }
    }
    .woof_block_html_items {
        min-width: 100%;
        left: auto;
        right: 0;
    }
    @include media( md ) {
        .woof_redraw_zone,
        .woof_products_top_panel {
            display: flex !important;
        }
        .woof_checkbox_label::before {
            top: 5%
        }
    }
}

// Filters search
.woof_container
.woof_container_inner input[type="search"],
.fuzion-filters__search input {
    line-height: 30px !important;
    height: 30px;
    padding: 0 !important;
    color: var(--c-brown-text);
    border-bottom: 1px solid var(--c-beige);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
    transition: transform var(--speed), border-color var(--speed);

    &:focus {
        outline: none;
        border-bottom-color: var(--c-brown);
    }
}

.woof_container.woof_text_search_container {
    max-width: 210px;

    .woof_container_inner {
        margin-left: .35rem;
        top: .35rem;
        
        input[type="search"] {
            transform: none;
        }
    }

    .woof_show_text_search_container {
        padding-top: 0;
    }

    .woof_text_search_go {
        top: calc(50% - 12px);
        width: 16px; 
        height: 16px;
        background: transparent url('../src/svg/i-search.svg') no-repeat
    }
}

.fuzion-filters__search {
    margin-right: $gutter * .5;
    position: relative;

    svg {
        pointer-events: none;
        width: 1rem;

        .cls-1 {
            stroke: var(--c-beige)
        }
    }

    button {
        position: absolute;
        right: 0; top: 5px;
        outline: none;
        cursor: pointer;
    }

    &.-active input {
        transform: scale3d(1, 1, 1)
    }
}

.js-tabs-filter + .fuzion-filters__search {
    flex-grow: 1;
    margin: {
        right: 0;
        left: $gutter * .5;
    }

    input {
        min-width: 100%;
    }

    @include media( md ) {
        display: none
    }
}

// Mobile Styles
.fusion-filter--menu {

    li,
    .fuzion-options__drop {
        padding: 4px 0;
        margin-left: 0;
        position: relative;
        overflow: hidden;

        > :first-child {
            position: relative
        }

        input:first-child {
            position: absolute;
            width: 100%; height: 100%;
            top: 0; left: 0; bottom: 0;
            opacity: 0;
        }

        input:checked + ::before {
            border-color: #fff;
            background-color: #fff;
        }

        .fuzion-options__label::before {
            top: 5px;
        }
    }

    .woof_block_html_items {
        backface-visibility: hidden;
        overflow: hidden;
        height: 0px;
        min-width: 240px;
        transition: var(--t-height)
    }
}