.woocommerce-page {

    .entry-header, 
    .entry-content,
    .woocommerce-form-coupon-toggle {
        @extend [data-grid];
    }

    .entry-header, .entry-content {
        margin: $gutter auto;
    }

    .entry-header {
        @extend .hgroup--top;
    }

    .entry-title {
        @extend .fuzion-title;
    }

    .woocommerce-order-details__title {
        @extend .section-title;
    }

    .woocommerce-info {
        @extend .text-brown;
    }

    .woocommerce-notices-wrapper,
    .woocommerce-customer-details {
        display: none
    }

    .woocommerce-error {
        margin: ($gutter * 1.5) 0;
    }

    .woocommerce-order-overview.order_details {
        list-style: none;
        margin-top: _f(20);

        li + li { margin-top: _f(8) }
    }

    .select2-selection {
        @extend .btn--clean;

        border-bottom: var(--border);
        margin-bottom: _f(28);
    }

    .select2-container--default 
    .select2-selection__rendered {
        padding: {
            left: 0;
            right: _f(24);
        }
        line-height: _f(32);
    }

    .select2-selection {
        height: _f(32);
    }

    .select2-selection,
    .select2-search__field {
        outline: none;
    }

    .select2-dropdown--below {
        border-radius: 0;
        border: 1px solid var(--c-beige);
    }

    .select2-results__option {
        &[class*=high],
        &[data-selected=true] {
            outline: 0;
            background-color: var(--c-beige);
        }
    }

    abbr {
        @extend .text-brown;

        text-decoration: none;
    }

    table {
        width: 100%
    }
}

.woocommerce-cart .entry-content .woocommerce,
.woocommerce-page .woocommerce-inner--wrap {
    @extend [data-flex];
    
    flex-wrap: wrap;

    @include media( md-max ) {
        > :nth-child(n) {
            min-width: 100%
        }
    }

    @include media( md ) {
        justify-content: space-between;
    }
}

.woocommerce-inner__side {
    margin-top: $gutter;
    padding: $gutter;
    background: rgba(#000, .048);
    
    p {
        @extend .text-brown;
    }

    .cart_totals > :first-child {
        @extend .section-title;
    }

    .product-name {
        text-align: left;
    }
    .product-total {
        text-align: right;
    }

    .product-quantity {
        color: var(--c-black)
    }

    .woocommerce-shipping-methods {
        list-style-type: none;
    }

    table {
        border-collapse: collapse;
        margin: {
            top: 20px;
            bottom: 10px;
        }
        display: table;
    
        tr {
            display: table-row;
    
            th, td {
                color: var(--c-brown);
                border-top: var(--border);
                padding: 20px 0;
            }
        }

        tfoot {

            th, td {
                font-weight: bold;
            }
        }
    
        th { text-align: left; font-weight: normal }
        td { text-align: right }
    }

    @include media( tablet-max ) {
        .section-title, 
        .section-title + *,
        .section-title + table {
            margin: {
                left: -$gutter;
                right: -$gutter
            }
        }

        #payment {
            padding: {
                left: $gutter;
                right: $gutter;
            }
        }

        @at-root {
            .woocommerce-order-received,
            .woocmmerce-cart { .shop_table {
                width: calc(100% + #{2 * $gutter})
            }}
        }

        .section-title,
        td:first-child, 
        th:first-child {
            padding-left: $gutter;
        }

        td:last-child, 
        th:last-child {
            padding-right: $gutter;
        }
    }
    
}

@include media( tablet ) {

    .woocommerce-inner__body {
        flex-basis: 55%
    }

    .woocommerce-inner__side {
        align-self: flex-start;
        margin-top: _f(-80);
        flex-basis: 30%;
    }
}