.plainoverlay {
    background-color: #fff !important;
    animation: zoomIn ease calc(2 * var(--speed)) forwards;

    & + [style*=fixed] {
        $s: 64px;
        width: $s !important;
        height: $s !important;
        left: calc(50% - #{$s * .5}) !important;
        top: calc(50% - #{$s * .5}) !important;
    }
}

.jQuery-plainOverlay-progress {
    border-top: none;
    border: 3px solid transparent !important;
    border-top-color: var(--c-beige) !important
}

// ------------------------------------
//  Product (Thumbnail)
// ------------------------------------

    .product-thumb {
        width: 85%;
        position: relative
    }

    .product__image {
        display: flex;
        height: calc(100px + 7.5vmax);
        
        img {
            width: 100%;
            box-shadow: 10px 10px 18px 0px rgba(#000, .234);

            @include cover;
        }
    }

.product-head {
    border-top: var(--border);
    margin-top: 24px;
    padding: 16px 0 24px;
    display: flex;
    justify-content: space-between;

    @include media( md ) {
        justify-content: start;
    }
}

    .product-head__sku {
        margin-left: auto
    }

    .product-head--single {
        border: {
            top: 0;
            bottom: var(--border);
        }
        margin-bottom: $gutter;
        align-items: baseline;

        .product-head__sku {
            margin-left: 20px
        }
    }
    
    .product-head__sku,
    .product-attributes li {
        font-size: _f(15);
        color: var(--c-brown);
    }

.product-attributes {

    li {
        padding: 3px 0
    }
}

.product-links {
    margin-top: auto;
    padding-top: $gutter * .5;

    > :last-child {
        margin-left: auto;
    }
}

.product-links--space {
    padding-top: $gutter * .5;
    margin-bottom: $gutter;
    
    @include media( md ) {
        padding-top: $gutter;
    }
}

    .product-links__share {

        @include media( md-max ) {
            display: none
        }

        p { 
            margin-right: $gutter / 3 
        }
        
        .social-icons {
            --color: var(--c-brown);
            --size: #{_f(36)};

            a { 
                border: 0 
            }
            a + a { 
                margin-left: calc(var(--size) * .5) 
            }
        }
    }

    button[name$=cart],
    .product-links__cart,
    .roomvo-stimr {
        > :only-child, > :last-child:not(:first-child) {
            font-size: _f(15);
            transition: color var(--speed);
        }
        > :only-child, > :last-child:not(:first-child) {
            &:hover {
                color: var(--c-brown);
                cursor: pointer;
            }
        }
    }

    .product-links__cart {

        svg {
            width: _f(14);
            margin-right: $gutter * .25;

            .cls-1 {
                stroke: var(--svg-fill, var(--c-brown));
            }
        }
    }

// ------------------------------------
//  Product (Filters)
// ------------------------------------

.button.woof_reset_search_form {
    color: #fff;
    font-size: _f(14);
}

.woocommerce-result-count,
.woof_products_top_panel {

    @include media( desktop-max ) {
        display: none !important
    }
}

.woof_results_by_ajax_shortcode {

    .woocommerce-result-count,
    .storefront-sorting {
        display: none
    }

    .storefront-sorting ~ .storefront-sorting {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        order: 9;
    }

}

// ------------------------------------
//  Product (Single)
// ------------------------------------

.product--fade-in {
    animation: fadeIn ease var(--speed);
}

.single-product__banner {
    --col: 300px;
    overflow: hidden;

    .slide-wrap {
        display: flex;
    }

    .product__img--secondary {
        display: block;
    }

    @include media( md ) {

        .single-product__main {
            @include media( md ) {
                width: calc(100% - var(--col))
            }
        }

        .product__img--main { 
            width: 80%;
            padding-bottom: 2rem;
        }

        .product__img--shadow {
            box-shadow: 10px 10px 18px 0px rgba(#000, .234);
            width: 100%;
            display: block;
        }

        .product__img--secondary {
            display: none
        }
    }
}

.single-product__thumbnail {
    position: relative;
    display: none;
    cursor: pointer;

    @include media( md ) {
        display: block;
        max-width: calc(160px + 2.5vw);
        margin-top: 1rem
    }
}

.icon-glass {
    position: absolute;
    width: 20px;
    bottom: 20px;
    left: 15px;
}

.single-product {

    dt { min-width: 150px }

    dl dd {
        min-width: 200px
    }
}

.single-product__cta--width {
    max-width: 190px;
}

.single-product__title--margin {
    margin-bottom: $gutter;
}

.single-product__aside {

    @include media( md ) {
        flex-basis: calc(var(--col) - #{_f(30)});
        // padding-left: _f(30);

    }

    img {
        cursor: pointer;
    }
}

.single-product__cta {
    margin-left: $gutter;

    @include media( md ) {
        margin-left: $gutter * 2;
    }
}

.single-product__spec {

    dt {
        float: left;
        clear: left;
        padding-right: $gutter
    }

    dt, dd {
        margin-bottom: $gutter * .5
    }
}
